body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#startMenu, #settingsMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

label {
    font-size: 18px;
    margin-top: 20px;
}

select {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: white;
}

canvas {
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#backToMenuButton {
    position: relative;
    margin-top: -200px;
    background: rgba(44, 44, 44, 0.8);
}