body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#startMenu, #settingsMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

canvas {
    background-color: #fff;
    border: 1px solid #000;
}